extend ../layout

block content
    .container-fluid
        .row
            .col-1.mt-4
            .col-6.mt-4
                h1.mb-4 Organization Permissions

                include ../includes/flash

                p.mb-4
                    a(href="/admin") Admin
                    span.gray  / Permissions

                p.gray.mb-4 Enable or disable modules for the entire organization. When a module is disabled, no users in the organization can access it.

                form(action="/admin/permissions?_method=put", method="post")
                    h3.mb-3 Modules

                    .mb-3
                        label
                            input(type="checkbox", name="projectsEnabled", value="true", checked=orgPermissions.projectsEnabled)
                            span.ml-2 Projects
                        p.gray.small Enable project management

                    .mb-3
                        label
                            input(type="checkbox", name="workEnabled", value="true", checked=orgPermissions.workEnabled)
                            span.ml-2 Work
                        p.gray.small Enable work/task tracking

                    .mb-3
                        label
                            input(type="checkbox", name="milestonesEnabled", value="true", checked=orgPermissions.milestonesEnabled)
                            span.ml-2 Milestones
                        p.gray.small Enable milestone tracking within projects

                    .mb-3
                        label
                            input(type="checkbox", name="targetsEnabled", value="true", checked=orgPermissions.targetsEnabled)
                            span.ml-2 Targets
                        p.gray.small Enable target tracking (groups of milestones)

                    .mb-3
                        label
                            input(type="checkbox", name="commentsEnabled", value="true", checked=orgPermissions.commentsEnabled)
                            span.ml-2 Comments
                        p.gray.small Enable comments on work items

                    .mb-3
                        label
                            input(type="checkbox", name="attachmentsEnabled", value="true", checked=orgPermissions.attachmentsEnabled)
                            span.ml-2 Attachments
                        p.gray.small Enable file attachments on work items

                    .mb-4.pt-2
                        a(href="/admin").btn.is-muted.mr-2 &larr; Back
                        button(type="submit") Save Permissions

            .col-5.mt-4
