extend ../layout

block content
    .row
        .col-1.mt-4  
        .col-10.mt-4 
            .mb-4
                h1 Dashboard 
                p.gray Welcome #{userName} @ #{now ? now.toLocaleString() : ''}!

            h3 Assigned to you
            if assignedWork && assignedWork.length
                table.mb-0
                    thead
                        tr.antiqueWhite
                            th Id
                            th Title
                            th Project
                            th Status
                            th Priority
                            th Due date
                    tbody
                        each w in assignedWork
                            tr
                                td
                                    a(href=`/work/${w.id}`) #{w.id}
                                td
                                    a(href=`/work/${w.id}`)= w.title
                                td
                                    a(href=`/projects/${w.projectId}`)= w.projectName
                                td= w.statusName
                                td= w.priorityName
                                td= w.dueDate || 'N/A'
            else
                p.gray.italic No issues assigned to you.

            hr
            
            h3 Your projects
            if projects && projects.length
                table.mb-4
                    thead
                        tr.antiqueWhite
                            th Name
                            th Due date
                    tbody
                        each p in projects
                            tr
                                td
                                    a(href=`/projects/${p.id}`)= p.name
                                td= p.dueDate || 'N/A'
            else
                p.gray.italic You are not a member of any projects.
            
        .col-10.mt-4 