extend ../layout

block content 
    .container-fluid 
        .row
            .col-1.mt-4  
            .col-3.mt-4 
                h1.mb-4 Edit target

                include ../includes/flash

                p.mb-4
                    a(href=`/projects/${project.id}`)= project.name
                    span.gray  / 
                    a(href=`/projects/${project.id}/targets`) Targets
                    span.gray  / Edit

                form(action=`/projects/${project.id}/targets/${target.id}?_method=put`, method="post") 
                    input(type="hidden", name="_csrf", value=csrfToken)
                    include ./form

                    .mb-4.pt-2
                        a(href=`/projects/${project.id}/targets/${target.id}`).btn.is-muted.mr-2 Cancel
                        button(type="submit") Update target

                hr.my-4

                form(action=`/projects/${project.id}/targets/${target.id}?_method=delete`, method="post")
                    input(type="hidden", name="_csrf", value=csrfToken)
                    button.is-danger(type="submit") Delete target

            .col-8.mt-4
