extend ../layout

block content
    .container-fluid 
        .row.mt-4
            .col-1
            .col-10
                .row.mb-4.align-items-center 
                    .col-8 
                        h1 
                            a(href=`/projects/${project.id}`)= project.name
                            span.gray  / 
                            a(href=`/projects/${project.id}/targets`) Targets
                            span.gray  / #{target.name}
                    .col-4.text-end
                        a(href=`/projects/${project.id}/targets/${target.id}/edit`).btn.is-muted Edit

                include ../includes/flash

                .card.mb-4
                    .card-body
                        .row
                            .col-6

                                .mb-3
                                    strong Due date
                                    p= target.dueDate || 'N/A'
                                
                                .mb-3
                                    strong Description
                                    p.italic= target.description || 'N/A'

                            .col-6.text-end
                                .mb-3
                                    h2 #{target.progress}%
                                    p.gray #{target.completedMilestones} of #{target.totalMilestones} milestones completed
                                .progress-bar(style="width: 100%; height: 12px; background: #e0e0e0; border-radius: 6px;")
                                    .progress-fill(style=`width: ${target.progress}%; height: 100%; background: ${target.progress === 100 ? '#28a745' : '#007bff'}; border-radius: 6px;`)

                h2.mb-3 Milestones

                if milestones && milestones.length > 0
                    each milestone in milestones
                        .card.mb-2
                            .card-body
                                .d-flex.justify-content-between.align-items-center
                                    div
                                        a(href=`/projects/${project.id}/milestones/${milestone.id}`)= milestone.name
                                        span.gray.ml-2 Due: #{milestone.dueDate}
                                    div
                                        span #{milestone.progress}%
                                        span.gray.ml-2 (#{milestone.completedWork}/#{milestone.totalWork})
                else
                    p.gray No milestones found.

            .col-1
