.col-1 
.col-3
    .mb-4
        input(type="hidden", name="projectId", value=projectId)
        label(for="projectId") Project*
        select(name="projectId", id="projectId", disabled) 
            option(value="") None 
            each project in projects 
                if project.id === projectId 
                    option(value=project.id, selected=true)= project.name 
                else 
                    option(value=project.id)= project.name 
    .mb-4
        label(for="title") Title*
        input(type="text", name="title", id="title", value=work ? work.title : '' placeholder="Upgrade electricity wiring")

    .mb-4 
        label(for="description") Description 
        textarea(name="description", id="description", cols="30", rows="10", placeholder="This work is ... ") #{work ? work.description : ''}

.col-2
    .mb-4
        label(for="assigneeId") Assignee
        select(name="assigneeId", id="assigneeId")
            option(value="") Unassigned
            each user in users
                if work && work.assigneeId === user.id
                    option(value=user.id, selected=true)= user.name
                else
                    option(value=user.id)= user.name

    .mb-4
        label(for="statusId") Status 
        select(name="statusId", id="statusId") 
            option(value="") None 
            each status in statuses 
                if work && work.statusId === status.id 
                    option(value=status.id, selected=true)= status.name
                else 
                    option(value=status.id)= status.name
        
    .mb-4
        label(for="typeId") Type  
        select(name="typeId", id="typeId")
            option(value="") None
            each type in types
                if work && work.typeId === type.id
                    option(value=type.id, selected=true)= type.name
                else
                    option(value=type.id)= type.name

    .mb-4
        label(for="priorityId") Priority  
        select(name="priorityId", id="priorityId") 
            option(value="") None 
            each priority in priorities 
                if work && work.priorityId === priority.id 
                    option(value=priority.id, selected=true)= priority.name
                else 
                    option(value=priority.id)= priority.name

    .mb-4
        label(for="dueDate") Due date 
        input(type="text", name="dueDate", id="dueDate", value=work ? work.dueDate : '' placeholder="2026-12-31")
.col-6