extend ../layout 

block content 
    .row.mt-4  
        .col-1 
        .col-11 
            h1 Work details  

            .mt-4 
                include ../includes/flash

    form(action="/works", method="post", class="row mt-4")  
        .col-1 
        .col-3
            .mb-4
                strong Project
                p 
                    a(href=`/projects/${work.projectId}`)= work.projectName 
            .mb-4
                strong Title
                p= work.title 

            .mb-4 
                strong Description 
                p.italic.gray= work.description || 'N/A'

        .col-2
            .mb-4
                strong Assignee
                p= work.assigneeName || "Unassigned"
            .mb-4
                strong Status 
                p= work.statusName || 'None'
            .mb-4
                strong Type  
                p= work.typeName || 'None'
            .mb-4
                strong Priority  
                p= work.priorityName || 'None'
            .mb-4
                strong Due date 
                p= work.dueDate || 'N/A'

        .col-6
    .row 
        .col-1 
        .col-3 
            button.btn.is-danger.delete-work.mr-2 Delete work 
            a(href=`/projects/${work.projectId}/works/${work.id}/edit`).btn Edit work 
        .col-8 
    include ./delete-work-modal 
