extend ../layout

block content 
    .row.mt-4
        .col-1
        .col-3
            .mb-4
                h1 Register 
                p.gray.italic * = required fields.

            .mb-4
                include ../includes/flash
            
            form(action="/register", method="post") 
                input(type="hidden", name="inviteToken", value=inviteToken)
                input(type="hidden", name="inviteEmail", value=inviteEmail)

                .mb-4
                    label(for="name") Name*
                    input(type="text", name="name", id="name", placeholder="Kai Doe", value=name, autofocus=true) 
                .mb-4
                    label(for="email") Email*
                    if inviteEmail
                        input(type="email", name="email", id="email", placeholder="kai@doe.com", value=inviteEmail, disabled=true)
                    else
                        input(type="email", name="email", id="email", placeholder="kai@doe.com", value=email)
                .mb-4
                    label(for="password") Password* #[small.gray.italic (min. 8 characters)]
                    input(type="password", name="password", id="password" placeholder="******")
                .mb-4
                    label(for="confirmPassword") Confirm password*
                    input(type="password", name="confirmPassword", id="confirmPassword" placeholder="******")
    
                .mb-4
                    button(type="submit") Register
        .col-8
