.row 
    .col-6
        .mb-4
            strong Title
            p= work.title
        .mb-4
            strong Description
            p.italic= work.description || 'N/A'
    .col-6 
        .mb-4
            strong Assignee
            p
                if work.assigneeName
                    = work.assigneeName
                else
                    span.gray Unassigned

        .mb-4
            strong Status
            p= work.statusName

        .mb-4
            strong Priority
            p= work.priorityName

        .mb-4
            strong Due date
            p
                if work.dueDate
                    = new Date(work.dueDate).toLocaleDateString('sv-SE')
                else
                    span.gray N/A

hr

.row
    .col-6
        .mb-4
            strong Reporter
            p= work.reporterName

.row
    .col-6
        .mb-4
            strong Created by
            p= work.createdByName
    .col-6
        .mb-4
            strong Created at
            p= work.createdAt

.row
    .col-6
        .mb-4
            strong Updated by
            if work.updatedByName
                p= work.updatedByName
            else
                p N/A
    .col-6
        .mb-4
            strong Updated at
            p= work.updatedAt
