.mb-4
    strong Name
    p= project.name

.mb-4
    strong Due date
    - const now = new Date()
    - const isDue = project.dueDate && new Date(project.dueDate) <= now
    p(class=isDue ? "red" : "")= project.dueDate ? new Date(project.dueDate).toLocaleDateString('sv-SE') : 'N/A'

.mb-4 
    strong Description
    p.italic= project.description || "N/A"

hr

.row
    .col-6
        .mb-4
            strong Created by
            p= project.createdByName || "N/A"
    .col-6
        .mb-4
            strong Created at
            p= project.createdAt || "N/A"

.row
    .col-6
        .mb-4
            strong Updated by
            p= project.updatedByName || "N/A"
    .col-6
        .mb-4
            strong Updated at
            p= project.updatedAt || "N/A"