.mb-4
    strong Name
    p= project.name

.mb-4
    strong Due date
    - const now = new Date()
    - const isDue = project.dueDate && new Date(project.dueDate) <= now
    p(class=isDue ? "red" : "")= project.dueDate ? new Date(project.dueDate).toLocaleDateString('sv-SE') : 'N/A'

.mb-4 
    strong Description
    p.italic= project.description || 'N/A'

hr

.row
    .col-6
        .mb-4
            strong Created by
            p= project.createdByName
    .col-6
        .mb-4
            strong Created at
            p= project.createdAt

.row
    .col-6
        .mb-4
            strong Updated by
            if project.updatedByName
                p= project.updatedByName
            else
                p N/A
    .col-6
        .mb-4
            strong Updated at
            p= project.updatedAt