extend ../layout
include ../mixins/pagination

block content
    .row.mt-4  
        .col-1
        .col-10
            .row.mb-4.align-items-center 
                .col-8 
                    h1 Projects (#{count})
                .col-4.text-end 
                    a(href=`/projects/new`).btn New project

            include ../includes/flash

            form(action="/projects", method="get") 
                .mb-4
                    input(type="hidden", name="orderBy", value=orderBy)
                    input(type="hidden", name="orderDir", value=orderDir)
                    input(type="text", name="search", value=search, autofocus=true, placeholder="Enter name and press Enter")

            if projects.length > 0
                each project in projects
                    .mb-2 
                        h3 
                            a(href=`/projects/${project.id}`) #{"#" + project.id + ". " + project.name}
                        p.gray
                            span.gray #{project.createdByName} / 
                            span.gray #{project.createdAt} / 
                            span.gray.red #{project.dueDate}
                        hr
            else 
                p.gray.text-center.italic No work found.
    
            .text-end
                +pagination(paginationLinks.first, paginationLinks.prev, paginationLinks.next, paginationLinks.last)

        .col-1