extend ../layout
include ../mixins/pagination

block content
    .row
        .col-1.mt-4  
        .col-10.mt-4 
            .row.mb-4.align-items-center 
                .col-8 
                    h1 Projects
                .col-4.text-end 
                    if permissions && permissions.projects && permissions.projects.create
                        a(href=`/projects/new`).btn New project

            include ../includes/flash

            form(action="/projects", method="get") 
                .mb-4
                    input(type="hidden", name="orderBy", value=orderBy)
                    input(type="hidden", name="orderDir", value=orderDir)
                    input(type="text", name="search", value=search, autofocus=true, placeholder="Enter name and press Enter")

            table.mb-0 
                thead 
                    tr.antiqueWhite 
                        th ID
                        th Name 
                        th Due date
                        th Created by
                tbody
                    if projects.length > 0
                        //- If the project is due or past due, highlight the row
                        - const now = new Date()
                        each project in projects
                            - const isDue = project.dueDate && new Date(project.dueDate) <= now
                            tr(class=isDue ? "due" : "")
                                td= project.id
                                td 
                                    a(href=`/projects/${project.id}`)= project.name
                                td(class=isDue ? "red" : "")= project.dueDate || 'N/A'
                                td= project.firstName + " " + project.lastName
                    else
                        tr
                            td(colspan="4").text-center.gray No projects found.
        
            small 
                sup *
                    i highlighted projects rows indicate projects that are due or past due.
    
            +pagination(paginationLinks.first, paginationLinks.prev, paginationLinks.next, paginationLinks.last)

        .col-1.mt-4  