extend ../layout

block content 

    .row
        .col-1.mt-4  
        .col-3.mt-4 
            h1.mb-4 Manage project 

            include ../includes/flash

            form(action=`/projects/${project.id}/manage?_method=put`, method="post", id="project-manage-form") 
                input(type="hidden", name="_csrf", value=csrfToken)
                include ./form

                .mb-4
                    label(for="status") Status
                    select(name="status", id="projectStatus", data-current=project.status)
                        option(value="active", selected=project.status === 'active') Active
                        option(value="archived", selected=project.status === 'archived') Archived
                        option(value="completed", selected=project.status === 'completed') Completed

                .mb-4
                    label
                        input(type="checkbox", name="isMilestonesEnabled", value="true", checked=project.isMilestonesEnabled)
                        span.ml-2 Enable milestones

                .mb-4
                    label
                        input(type="checkbox", name="isTargetsEnabled", value="true", checked=project.isTargetsEnabled)
                        span.ml-2 Enable targets



                .mb-4.pt-2
                    a(href=`/projects/${project.id}`).btn.is-muted.mr-2 &larr; Back
                    button(type="submit") Update project
                    button.btn.is-danger.delete-project.ml-2(type="button") Delete project

            include ./delete-project-modal

        .col-3.mt-4
            .mb-4
                strong Members

                //- Invite form.
                form(action=`/projects/${project.id}/invite`, method="post") 
                    input(type="hidden", name="_csrf", value=csrfToken)
                    .mb-1.mt-4
                        label(for="email") Email
                            span.red *
                        input(type="text", name="email", id="email", placeholder="kai@doe.com")

                    .mb-4
                        button(type="submit") Invite
                //- END: Invite form.

                if projectMembers.length > 0
                    each member in projectMembers
                        p= member.name + " <" + member.email + "> " 
                            span.gray= "(" + member.role + ")"
                else
                    p No members yet.

        .col-5.mt-4
