extend ../layout

block content 
    .container-fluid 
        .row
            .col-1.mt-4  
            .col-3.mt-4 
                h1.mb-4 New project 

                include ../includes/flash

                form(action="/projects", method="post") 
                    .mb-4
                        label(for="name") Name
                            span.red *
                        input(type="text", name="name", id="name", value=name, placeholder="House Cleanup", autofocus=true)

                    .mb-4
                        label(for="key") Key
                            span.red *
                        input(type="text", name="key", id="key", value=key, placeholder="HC")

                    .mb-4
                        label(for="dueDate") Due date
                        input(type="text", name="dueDate", id="dueDate", class="date", value=dueDate, placeholder="dd/mm/yyyy")

                    .mb-4 
                        label(for="description") Description
                        textarea(name="description", id="description", rows="4", value=description, placeholder="Optional details...")

                    .mb-4.pt-2
                        button(type="submit") Create project
            .col-8.mt-4