extend ../layout

block content 
    .container-fluid 
        .row 
            .col-1.mt-4 
            .col-11.mt-4 
                h1 Project details

                include ../includes/flash
        .row
            .col-1.mt-4  
            .col-3.mt-4 
                include ./details
                

                .mb-4.pt-2
                    a(href="/projects").btn.is-muted.mr-2 &larr; Back
                    a(href=`/projects/${project.id}/edit`).btn.mr-4  Edit project
                    button.btn.is-danger.delete-project Delete project
            .col-4.mt-4
                .mb-4 
                    .d-block.mb-4
                        strong Work (3) &middot; 
                        a(href=`/work/new?projectId=${project.id}`) New work

                    .mb-2
                        p 
                            a(href="#") HC-1 
                            | - We've problem with connection.
                        p 
                            span.gray Kai Doe | In-progress | due in 2 days
                    .mb-2
                        p 
                            a(href="#") HC-2 
                            | - Unable to fetch the details of work load.
                        p 
                        span.gray Unassigned | Todo | due -
                    .mb-2
                        p 
                            a(href="#") HC-3 
                            | - We can't adjust the limit from problem.
                        p 
                        span.gray Fat Doe | Blocked | due already
                    .mb-2 
                        p 
                            a(href="#").italic More...
                    
                    hr
            .col-3.mt-4
                .mb-4
                    strong Members

                    //- Invite form.
                    form(action=`/projects/${project.id}/invite`, method="post") 
                        .mb-1.mt-4
                            label(for="email") Email
                                span.red *
                            input(type="text", name="email", id="email", placeholder="kai@doe.com")

                        .mb-4
                            button(type="submit") Invite
                    //- END: Invite form.

                    if projectMembers.length > 0
                        each member in projectMembers
                            p= member.firstName + " " + member.lastName + " <" + member.email + "> " 
                                span.gray= "(" + member.role + ")"
                    else
                        p No members yet.

            .col-1.mt-4

    include ./delete-project-modal
