extend ../layout

block content 
    .container-fluid 
        .row 
            .col-1.mt-4 
            .col-11.mt-4 
                h1 Project details

                include ../includes/flash
        .row
            .col-1.mt-4  
            .col-3.mt-4 
                include ./details
                

                .mb-4.pt-2
                    a(href="/projects").btn.is-muted.mr-2 &larr; Back
                    a(href=`/projects/${project.id}/edit`).btn.mr-4  Edit project
                    button.btn.is-danger.delete-project Delete project
            .col-4.mt-4
                .mb-4 
                    .d-block.mb-4
                        strong Work (#{workCount}) &middot; 
                        a(href=`/work/new?projectId=${project.id}`) New work

                    if workItems && workItems.length > 0
                        each item in workItems
                            - const dueDateStr = item.dueDate ? new Date(item.dueDate).toISOString().slice(0, 10) : null
                            .mb-2
                                p 
                                    a(href=`/work/${item.id}`)= project.key + "-" + item.workId
                                    |  - #{item.title}
                                p 
                                    span.gray
                                        if item.assigneeFirstName
                                            = item.assigneeFirstName + " " + item.assigneeLastName
                                        else
                                            | Unassigned
                                        |  | #{item.statusName} | #{item.priorityName} | due 
                                        if dueDateStr
                                            = dueDateStr
                                        else
                                            | -
                        .mb-2 
                            p 
                                a(href=`/work?search=${encodeURIComponent(project.key)}`).italic More...
                    else
                        p.gray No work yet.
                    
                    hr
            .col-3.mt-4
                .mb-4
                    strong Members

                    //- Invite form.
                    form(action=`/projects/${project.id}/invite`, method="post") 
                        .mb-1.mt-4
                            label(for="email") Email
                                span.red *
                            input(type="text", name="email", id="email", placeholder="kai@doe.com")

                        .mb-4
                            button(type="submit") Invite
                    //- END: Invite form.

                    if projectMembers.length > 0
                        each member in projectMembers
                            p= member.firstName + " " + member.lastName + " <" + member.email + "> " 
                                span.gray= "(" + member.role + ")"
                    else
                        p No members yet.

            .col-1.mt-4

    include ./delete-project-modal
