extend ../layout

block content 
    .row.mt-4 
        .col-1
        .col-11
            h1 Project details

            include ../includes/flash
    .row.mt-4  
        .col-1
        .col-3 
            include ./details            

            .mb-4
                a(href=`/projects/${project.id}/milestones`) View milestones


            .mb-4
                a(href=`/projects/${project.id}/targets`) View targets

            .mb-4.pt-2
                a(href="/projects").btn.is-muted.mr-2 &larr; Back
                a(href=`/projects/${project.id}/manage`).btn.mr-4 Manage project
        .col-4.mt-4
            .mb-4 
                .d-block.mb-4
                    strong Work (#{workCount})
                        |  &middot; 
                        a(href=`/work/new?projectId=${project.id}`) New work

                if workItems && workItems.length > 0
                    each item in workItems
                        - const dueDateStr = item.dueDate ? new Date(item.dueDate).toLocaleDateString('sv-SE') : null
                        .mb-2
                            p 
                                a(href=`/work/${item.id}`)= item.title
                            p 
                                span.gray
                                    if item.assigneeName
                                        = item.assigneeName
                                    else
                                        | Unassigned
                                    |  | #{item.statusName} | #{item.priorityName} | due 
                                    if dueDateStr
                                        = dueDateStr
                                    else
                                        | -
                    .mb-2 
                        p 
                            a(href=`/work?search=${encodeURIComponent(project.name)}`).italic More... 
                else
                    p.gray No work found.
                
                hr


        .col-4.mt-4
