extend ../layout

block content 
    .container-fluid 
        .row
            .col-1.mt-4  
            .col-3.mt-4 
                h1.mb-4 Project details

                include ../includes/flash

                .mb-4
                    strong Name
                    p= project.name

                .mb-4
                    strong Key
                    p= project.key

                .mb-4
                    strong Due date
                    - const now = new Date()
                    - const isDue = project.dueDate && new Date(project.dueDate) <= now
                    p(class=isDue ? "red" : "")= project.dueDate || 'N/A'

                .mb-4 
                    strong Description
                    p.italic= project.description || 'N/A'
                
                hr

                .row
                    .col-6
                        .mb-4
                            strong Created by
                            p= project.firstName + " " + project.lastName
                    .col-6
                        .mb-4
                            strong Created at
                            p= project.createdAt

                .mb-4.pt-2
                    a(href="/projects").btn.is-muted.mr-2 &larr; Back
                    a(href=`/projects/${project.id}/edit`).btn.mr-4  Edit project
                    button.btn.is-danger.delete-project Delete project
            .col-8.mt-4

    .modal.delete-project-modal 
        .modal-content
                h3.mb-4 Delete project 

                form(action=`/projects/${project.id}?_method=delete`, method="post") 
                    p.mb-4 Are you sure you want to delete this project?

                    .text-end.pt-4
                        button.delete-project-close.is-muted.mr-4(type="button") Cancel 
                        button.is-danger(type="submit") Yes
