extend ../layout 

block content 
    .row.mt-4  
        .col-1 
        .col-11 
            h1 Project details

            .mt-4 
                include ../includes/flash 

        .col-1 
        .col-3
            .mt-4 
                .mb-4 
                    strong Name
                    p= project.name 
                
                .mb-4 
                    strong Due date
                    p= project.dueDate || 'N/A'
                
                .mb-4 
                    strong Description 
                    p.gray.italic= project.description || 'N/A'

                .mb-4 
                    .row 
                        .col-6 
                            button.btn.is-danger.delete-project Delete project 
                        .col-6.text-end 
                            a(href=`/projects/${project.id}/edit`).btn Edit project

        .col-7
            .mt-4 
                .mb-4 
                    strong Works (#{works.length}) &middot; 
                        a(href=`/works/new?projectId=${project.id}`) Add work 

                .mb-4 
                    if works.length > 0
                        each work in works 
                            strong
                                a(href=`/works/${work.id}`) ##{work.id}. #{work.title}
                            p #{work.assigneeName || 'Unassigned'} | #{work.statusId } | #{work.typeId} | #{work.priorityId} | #{work.dueDate || 'N/A'}

                            hr
                    else 
                        p.italic.gray No work found.
        .col-1 
    include ./delete-project-modal 
