extend ../layout 

block content 
    .row.mt-4  
        .col-1 
        .col-11 
            h1 Project details

            .mt-4 
                include ../includes/flash 

        .col-1 
        .col-3
            .mt-4 
                .mb-4 
                    strong Name
                    p= project.name 
                
                .mb-4 
                    strong Due date
                    p= project.dueDate || 'N/A'
                
                .mb-4 
                    strong Description 
                    p.gray.italic= project.description || 'N/A'

                .mb-4 
                    button.btn.is-danger.delete-project.mr-2 Delete project 
                    a(href=`/projects/${project.id}/edit`).btn Edit project

        .col-7
            .mt-4 
                .mb-4 
                    strong Works (#{works.length}) &middot; 
                        a(href=`/projects/${project.id}/works/new`) Add work 

                .mb-4 
                    if works.length > 0
                        each work in works 
                            strong
                                a(href=`/projects/${work.projectId}/works/${work.id}`) ##{work.id}. #{work.title}
                            p #{work.assigneeName || 'Unassigned'} | #{work.statusId || 'None' } | #{work.typeName || 'None'} | #{work.priorityName || 'None'} | #{work.dueDate || 'N/A'}

                            hr
                    else 
                        p.italic.gray No work found.
        .col-1 
    include ./delete-project-modal 
